@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1599292708754'); /* IE9 */
  src: url('iconfont.eot?t=1599292708754#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKcAAsAAAAABkgAAAJQAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApUagE2AiQDCAsGAAQgBYRtBzAbkAXILjEVGemnJMDM3hgCbta3/b0OpICTePja73fuvsVEEkMTz6KJKJoKCVImFFKwKBoa8zfm8n/I5zOQz26vRqRYFpOW00vTgSOyZOSUmpB94VazzFmxV58ppfENYHS5K1Xy+n3i3umfQB9kPqAc96KxJk3qAuriQApwL4wiK6GMG8YucAmPCVTrV1Pd3Dk6rYzIrFWBuAk8qzKSi8gyy1cK5TUHs7hXpjLdprgLvx/f5qKSpKxgNe2cbbuVtbd/u6i4Ld069glRAjpehgKzKjJxUJvZ0i8Y1686M2BYZV/1wdulku8We3UI9tdZtbWgFyrvSeWqbzWf4LYmalcxMOo2or3bBffzvZ2+7zoufj7azjzvkq/VvgXl//nDixe3e3Gwdo8Lulc9Wlpl/ay4TwSChzsyphevHM/gKVoJ7Vk/H5U78gY/RNWzL+say5WyqqodTtpP1FKtGiU40Kw31tp29kKo1DbCV6EvRaHSKJnZWZSpMY9ylVZQbcbu8RotRL/IVZj2BBAa/SKp94hCoz8ysyXKtPtHucYoUO0oWi6sMR6XYxuClqIL9g0EDqfkeHQsqj9Gr4gtyWpC/hwlD+LQbrSK+V1MUebYkl96HVUCEk5gBzyHccyQCYfoaMNXzbrNJtW9qeFwUhmzQSCLQi5guwECDpYif7QaK33+GPIUYhZp6akpnkMiF0wP2hpaPchdY9qr515eyV3ydChFABEsAXbAPBSLMZDVzwshh2rwR6QyXU17EPU1NtY3J193DKpZthT2rEL5SRH4FlcqAAA=') format('woff2'),
  url('iconfont.woff?t=1599292708754') format('woff'),
  url('iconfont.ttf?t=1599292708754') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1599292708754#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duihao:before {
  content: "\e6fd";
}

